@reference "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* optional: reset styles */
html, body, #__next {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
a {
  color: #0066cc;
  text-decoration: none;
}
